build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
*.cmake
*.pc
*.so*
CMakeCache.txt
CMakeFiles/
Makefile
bluetooth-frwk-agent/bluetooth-agent
bluetooth-frwk-agent/marshal.*
bluetooth-frwk-agent/sc_core_agent_glue.h
bluetooth-map-agent/bluetooth-map-agent
bluetooth-map-agent/bluetooth_map_agent_glue.h
bluetooth-media-control/test/bluetooth-media-control-test
bluetooth-pb-agent/bluetooth-pb-agent
bluetooth-pb-agent/bluetooth_pb_agent_glue.h
bluetooth-telephony/bluetooth-telephony-glue.h
bluetooth-telephony/marshal.*
test/bluetooth-frwk-test
test/gatt-test/bluetooth-gatt-test
test/media-control/bluetooth-media-control-test
test/telephony/bluetooth-telephony-test
build-stamp
configure-stamp
debian/*.install
debian/*.substvars
debian/bluetooth-frwk-agent/
debian/bluetooth-frwk-dbg/
debian/files
debian/*.debhelper
debian/libbluetooth-frwk-0/
debian/libbluetooth-frwk-dev/
debian/tmp/
install_manifest.txt
lib/marshal.*
lib/obex-agent-glue.h
