[Unit]
Description=Bluetooth service
After=dbus.socket dbus.service
Requires=dbus.socket

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/bluetooth-frwk-service
Environment=DISPLAY=:0
KillMode=process

[Install]
WantedBy=multi-user.target
